{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
    <h1>CREATION D'UNE NOUVELLE ANNONCE</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('annonce_index') }}">RETOURNE SUR LISTE</a>
{% endblock %}
